.container{
    max-width:960px;
    background: lightseagreen;
    margin: 0 auto;
}
.first-row .second-row .third-row{
    width: 100%;
}
img{
width: 200px;
height: 200px;
background: white;
margin: 10px auto;
}
.first-row{
    background: indianred;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.second-row{
    background: ivory;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.third-row{
    background: moccasin;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    padding-top: 1em;
    font-size: 4em;
    font-family: sans-serif;
    color: white;
}