<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous'>'
    <title>Authors</title>
</head>

<body>
    <main class="d-flex gap-5 justify-content-center mt-5 flex-wrap">
        <div>
            <h1>New Author</h1>
            <form action="/authors/add" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name">
                <input type="submit" value="create">
            </form>
        </div>
        <div class="authors">
            <h1>
                All Authors
            </h1>
            <ul>
                {%for author in authors%}
                <li><a href="/authors/{{author.id}}">{{author.name}}</a></li>
                {%endfor%}
            </ul>
            <a href="/books">Add Book</a>
        </div>
    </main>
</body>

</html>