<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous'>'
    <title>Author Show</title>
</head>

<body>
    <main class="d-flex gap-5 justify-content-center mt-5 flex-wrap">
        <div class="author">
            <h1>{{author.name}}'s favorates</h1>
            <ul>
                {% for book in author.books%}
                <li>Title:{{book.title}}</li>
                {%endfor%}
            </ul>
            <a href="/authors">Home</a>
        </div>
        <div>
            <h1>Add Author's Favorite</h1>
            <form action="/authors/{{author.id}}/add_book" method="POST">
                <label for="book_id">Books:</label>
                <select name="book_id" id="">
                    {%for book in books%}
                    <option value={{book.id}}>{{book.title}}</option>
                    {%endfor%}
                </select>
                <input type="submit" value="Add">
            </form>
        </div>
    </main>
</body>

</html>