<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>checkerborad</title>
</head>

<body>
    <div class="container">
        {% for x in range(0,row)%}
        {% if x %2 ==0%}
        <div class="row">
            {%for y in range(0,column)%}
            {%if y %2 ==0%}
            <div class="column" style="background:{{color1}}"></div>
            {% else%}
            <div class="column" style="background:{{color2}}"></div>
            {% endif %}
            {%endfor%}
        </div>
        {% else %}
        <div class="row">
            {%for y in range(0,column)%}
            {%if y %2 ==0%}
            <div class="column" style="background:{{color2}}"></div>
            {% else%}
            <div class="column" style="background:{{color1}}"></div>
            {% endif %}
            {%endfor%}
        </div>
        {% endif %}
        {%endfor%}
    </div>
</body>

</html>