<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Email Registration</title>
</head>

<body class="container">
    <form action="/submit" method='POST'>
        {% with name_errors = get_flashed_messages(category_filter=['address']) %}
        {% for message in name_errors %}
        <p class="text-danger row">{{ message }}</p>
        {% endfor %}
        {% endwith %}
        <label for="address row">Email Address:</label>
        <input type="text" name="address">
        <input type="submit" value="Submit">
    </form>
</body>

</html>