.container{
    background: red;
    width: 400px;
    height: 240px;
}
.starArea{
    background: blue;
    width: 45%;
    height: 50%;
    color:white;
    display: inline-block;
}
.stars{
   position: relative;
   text-align: center;
   padding: 0;
}
.stripe{
    position: relative;
}
.white{
    height: 20px;
    background: white;
    margin-bottom: 20px;
vertical-align: top;
}