<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
        .container {
            text-align: center;
            margin-top: 10%;
            font-family: cursive;
        }

        h1 {
            font-size: 50px;
        }

        a {
            text-decoration: none;
            border-radius: 20px;
            padding: 10px;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Counter</h1>
        <h2>{{session["count"]}} times</h2>
        <div class="buttons">
            <a href="/2visit" style="background: pink;">Add two visits</a>
            <a href="/destroy_session" style="background: green;">Reset</a>
        </div>
    </div>
</body>

</html>