.row{
    display:flex;
    justify-content: space-between;
    gap:10px;
    margin: 10px;
}

.col, .col-2, .col-3 {
    background: greenyellow;
    border: none;
    color: white;
    padding:1em;
    font-size: 1em;
}

.col{
    flex:1;
}

.col-2{
flex:2;
}

.col-3{
    flex: 3;
}